.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 0.5px;
    font-size: 20pt;
}

.navbar {
    background-color: #f754cb; 
 
}

.nav-item {
    color: white
}



.material-icons {
    text-decoration: none;
    color: white;
    padding-left: 150px;
}

.number {
    font-size: 16pt;
    color: white;
}

.mensaje {
    font-family: monospace;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 20pt;
}



button {
    width: 40px;
    height: 40px;
    font-size: 20pt;
    margin-left: 5px;
    margin-right: 5px;
}

#btn-agregar {
    width: 50%;
    height: 50px;
    font-size: 10pt;
    margin-left: 15px;
}

.titulo-item {
    background-color: yellow;
}

.card-producto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}